{
  auto_https off
  servers {
    trusted_proxies static private_ranges 100.0.0.0/8
  }
}

:{$PORT:8080} {
  root * /srv/dist
  encode gzip

  @health path /health
  handle @health {
    respond "ok" 200
  }

  try_files {path} /index.html
  file_server
}
